* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: bisque;
}

.edit-photos-window {
    display: flex;
    position: absolute;
    z-index: 10;
    background-color: rgb(184, 189, 189);
    width: 600px;
    height: 600px;
    border-radius: 10px;
}

.close-window-button {
    justify-self: flex-end;
    align-self: flex-start;
}

.photos-container {
    background-color: darkgoldenrod;
}

