* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

#preloaded-photos-container {
    display: nflex;
}

#add-gallery-button {
}

#add-gallery:active {
    transform: scale(1.1);
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
}

#global-container {
    width: 100%;
    padding: 0 40px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    /* background: url(./images/pexels-gabriel-peter-696644.jpg); */
    background-size: cover;
    /* background-color: #2b2b2b; */
    margin-top: 27px;
    /* padding-top: 19px; */
}


#title-container {
    display: flex;
    width: 100%;
    height: 154px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #272727; */
    /* border-bottom: solid 1px #ad601e30; */
}

#title {
    font-size: 70px;
    color: rgb(208 104 16);
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Sacramento', cursive;
    text-align: center;
    justify-self: flex-start;
}

#author {
    padding-top: 10px;
    font-size: small;
    font-family: 'Cinzel', serif;
    font-weight: 100;
}

#navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    /* -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.43); 
    box-shadow: -1px 18px 15px 0px rgb(0 0 0 / 10%);
    z-index: 20; */
}

.navbar-element {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: #c3b8ac;
    font-family: 'Abel', sans-serif;
    font-size: 15px;
}

#edit-galleries-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #232323;
    border-radius: 0 0 10px 10px;
}

#galleries-list-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

#galleries-list-panel > .gallery {
    margin-right: 10px;
}

#edit-gallery-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 72vw;
    border-radius: 0 0 6px 0;
    background-color: #232323;
}

#galleries-tools {
    display: flex;
}

#galleries-tools > .tools-panel-button {
    margin-left: 10px;
}

#tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.tools-panel-button {
    /* height: 35px;
    background-color: rgb(60 60 60);
    color: rgb(255 255 255);
    border-radius: 50px;
    outline: none;
    border: none;
    margin: 6px;
    padding: 8px;
    cursor: pointer;
    transition: 0.2s; */

    height: 35px;
    color: #ffffff;
    border-radius: 50px;
    outline: none;
    border: none;
    margin: 6px;
    padding: 8px;
    cursor: pointer;
    background-color: #353535;  
   
}

.tools-panel-button:hover {
    color: rgb(14, 14, 14);
    background-color: rgb(218, 218, 218);
}

.tools-panel-button:active {
    transform: scale(1.1);
}



@media (max-width: 1000px) {
    #global-container {
        width: 100vw;
    }
}

.gallery-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: bisque;
}

.photo-style {
    width: 185px;
    height: auto;
    border-radius: 15px;
    user-select: none;
}

#photos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 50px;
}

#show-add-gallery-menu-button {
    display: flex;
    height: 40px;
    min-width: 40px;
    padding: 10px;
    margin: 12px 18px;
    border-radius: 19px;
    /* border: dotted 2px #d06810; */
    /* background-color: #283033; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    color: #d06810;
    font-size: 44px;
    user-select: none;
}

#gallery-name-input {
    display: flex;
    height: 40px;
    width: 340px;
    padding: 10px;
    margin: 0 18px 0 0;
    border-radius: 26px;
    border: dotted 1px #ad7e4d14;
    background-color: #dce3e4;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    color: #383838;
    font-size: larger;
    user-select: none;
    outline: none;
}

#gallery-name-input:hover {
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.24);
}

#change-gallery-name-input {
    display: flex;
    height: 40px;
    width: 300px;
    padding: 10px;
    margin: 0 18px 0 0;
    border-radius: 26px;
    border: dotted 1px #ad7e4d14;
    background-color: #dce3e4;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    color: #383838;
    font-size: larger;
    user-select: none;
    outline: none;
}

#change-gallery-name-input:hover {
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.24);
}

#add-gallery-menu-window {
    display: none;
    top: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(0 0 0 / 52%);
    z-index: 10;
}

#move-photos-menu-window {
    display: none;
    top: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(0 0 0 / 52%);
    z-index: 10;
}

.destination-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px;
    border-radius: 19px;
    background-color: #252525;
    cursor: pointer;
    transition: 0.2s;
    color: #e2e2e2;
    font-size: large;
    user-select: none;
    outline: none;
    border: none;
}

#gallery-name-label {
    padding: 50px 0 10px 0;
    align-self: center;
}

.hidden-gallery-container {
    display: none;
    flex-direction: column;
    width: 600px;
    height: 600px;
    padding: 10px;
    
}

.image-container {
    display: flex;
    position: relative;
    margin: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.inside-image-button {
    top: 12px;
    right: 12px;
    display: none;
    position: absolute;
    justify-self: flex-end;
    width: 32px;
    height: 32px;
    background: url(./images/pencil_SmallerWithHalfTransparentBackground.png);
    background-size: cover;
    border-radius: 50%;
    outline: none;
    border: none;
    z-index: 3;
    cursor: pointer;
    user-select: none;
    /* pointer-events: none; */
}

.image-container:hover .inside-image-button {
    display: flex;
}

.checkbox {
    bottom: 0;
    top: 0;
    right: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: gray;
}

#edit-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: unset;
}

#gallery-list-panel {
    /* background-color: #232323; */
    /* margin-right: 10px;
    border-radius: 10px; */
    border-right: dotted 5px #393a3996;
}

.choose-gallery-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#upload-file-menu-window {
    display: none;
    top: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(0 0 0 / 52%);
    z-index: 10;
}

#main-window {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #232323;
}

.loading-animation {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 394px;
    /* right: 593px; */
    z-index: 500;
    background: url(./images/circleCuted.png);
    background-size: cover;
    animation: circle 1.5s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#logging-section {
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.label {
    padding: 5px;
    color: #c3b8ac;
}

#sign-in-button {
    color: #232323;
}

#password {
    /* width: 200px;
    height: 30px; */
    outline: none;
}

.logout-button {
    height: 23px;
    margin-bottom: 2px;
    transition: 0.4s;

    outline: none;
    border: none;
    cursor: pointer;
    background-color: #c30707;
}

#tools-bottom-inner-wrapper {
	display: flex;
	justify-content: flex-end;
}

#tools-panel-button {

}

.inside-image-simbol {
    position: absolute;
    background: url(./images/unnamedWithHole.png);
    background-size: cover;
    width: 80px;
    height: 80px;
}

.blur {
    filter: blur(3px);
}

.shadow-box {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    background-color: rgb(0 0 0 / 54%);
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    pointer-events: none;
    /* filter: blur(1px); */
}

.gallery-button-container {

}

.change-gallery-name-button {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: white;
    border: solid 1px black;
}

.gallery {
    display: flex;
    position: relative;
    height: 40px;
    padding: 10px;
    margin: 12px 18px;
    border-radius: 19px;
    border: solid -14px #ad7e4d14;
    /* background-color: #1f4032; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    color: #b3b3b3;
    font-size: larger;
    font-weight: bold;
    font-family: 'Hepta Slab', serif;
    user-select: none;
}

.gallery:hover .change-gallery-name-button {
    display: flex;
}

.gallery-selected {
    background-color: #d06810;
    color: #f3e2e2;
}

#show-rename-gallery-menu-button {
    color: white;
    background-color: #4c0080;
}

#delete-gallery-button {
    color: white;
    background-color: #ab0101;
}

#change-gallery-name-button {

}

#gallery-menu-window {
    display: none;
    top: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(0 0 0 / 52%);
    z-index: 10;
}

.dark-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px;
    border-radius: 19px;
    background-color: #252525;
    cursor: pointer;
    transition: 0.2s;
    color: #e2e2e2;
    font-size: large;
    user-select: none;
    outline: none;
    border: none;
    margin: 5px;
}

.blue-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px;
    border-radius: 19px;
    background-color: #283033;
    cursor: pointer;
    color: #e2e2e2;
    font-size: large;
    user-select: none;
    outline: none;
    border: solid 3px #c16314;
    margin: 5px;
}

.blue-button:active {
    transform: scale(1.05);
}

#upload-file-container {
    width: 600px;
}

#photos-order-menu-window {
    display: none;
    top: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(0 0 0 / 52%);
    z-index: 10;
}

#photos-order-menu-inner-container {
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 10;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    border-radius: 6px;
    -webkit-box-shadow: 2px 5px 15px 1px rgb(0 0 0 / 63%);
    box-shadow: 2px 5px 15px 1px rgb(0 0 0 / 63%);
    border-radius: 25px;
    padding: 40px;
}

#show-photos-order-menu-button {
    
}

.empty-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    background-color: gray;
    color: black;
    /* padding: 10px; */
    min-width: 120px;
    min-height: 80px;
    border-radius: 15px;
    user-select: none;
    cursor: pointer;
}

#empty-slots-container {
    display: flex;
    border-radius: 20px;
    padding: 10px;
    background-color: #2d2d2d;
}

#photos-to-choose-from-container {
    display: flex;
    /* background-color: #2d2d2d; */
    padding: 10px;
    border-radius: 20px;
    margin-top: 52px;
    align-items: center;
}


.photo-style2 {
    width: 120px;
    height: auto;
    border-radius: 15px;
    user-select: none;
    margin: 2px;
    cursor: move;
    z-index: 30;
}

.menu-window-inner-container {
    display: flex;
    padding: 100px 30px 100px 30px;
    color: white;
    z-index: 10;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    height: 70px;
    border-radius: 6px;
    -webkit-box-shadow: 2px 5px 15px 1px rgb(0 0 0 / 63%);
    box-shadow: 2px 5px 15px 1px rgb(0 0 0 / 63%);
    border-radius: 25px;
}

.green-background {
    background-color: rgb(0, 184, 57);
}

.pointing-finger {
    display: none;
    position: absolute;
    width: 100%;
    height: 70%;
    top: 8px;
    right: 5px;
    background-image: url(./images/pointing-finger.png);
    background-size: cover;
    width: 100px;
    z-index: 100;
}

.hidden-menu-container-style {
    height: 100vh;
}

/* .save-button {
    width: 100px;
    border-radius: 30px;
    background-color: ;
} */

#show-galleries-order-button {
    background-color: #085839;
    color: white;
}

#edit-description-menu-window {
    display: none;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgb(0 0 0 / 52%);
}

#edit-description-inner-container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 200px;
    height: 600px;
    border: solid 2px red;
    background-color: darkslategray;
}

.highlighted {
    color: white;
}