* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

#preloaded-photos-container {
    display: nflex;
}

#hidden-add-photo-panel {
    display: none;
    z-index: 10;
    position: absolute;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #e6e6e6; */
    background: url(./images/grayabstractionBlur1.jpg);
    background-size: cover;
    
}

#global-container {
    padding: 40px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
    align-items: center;
    /* background-color: #c3bebe; */
}

#title-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff8f;
    -webkit-box-shadow: -1px 15px 20px -7px rgba(0,0,0,0.58); 
    box-shadow: 3px 2px 20px -7px rgb(0 0 0 / 58%);
    /* background: url(./images/image-title-background.jpg);
    background-size: cover; */
}

#title {
    font-size: 40px;
    color: rgb(47 45 45);
    font-family: 'Cinzel', serif;
    text-align: center;
    justify-self: flex-start;
}

#author {
    padding-top: 10px;
    font-size: small;
    font-family: 'Cinzel', serif;
    font-weight: 100;
}

#navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    /* -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.43); 
    box-shadow: -1px 18px 15px 0px rgb(0 0 0 / 10%);
    z-index: 20; */
}

.navbar-element {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: #5a4733;
    font-family: 'Abel', sans-serif;
    font-size: larger;
}

.navbar-element:hover > .line {
   width: 100%;
}

.line {
    width: 0;
    height: 4px;
    background-color: #dc7409;
    transition: 0.2s;
}

#edit-galleries-section {
    display: flex;
    flex-direction: column;
}

#galleries-list-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

#galleries-list-panel > .gallery {
    margin-right: 10px;
}

#edit-gallery-panel {
    width: 920px;
    background-color: white;
    border-radius: 6px;
    background-color: #ffffffbd;
}

#tools-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 150px;
    
}

#tools-panel > .tools-panel-button {
    margin-left: 10px;
}

.tools-panel-button {
    width: 80px;
    height: 80px;
    background-color: rgb(130 130 130);
    color: white;
    border-radius: 25%;
    outline: none;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-box-shadow: 7px 11px 22px -7px #000000; 
    box-shadow: 7px 11px 22px -7px #000000;
    
}

.tools-panel-button:hover {
    background-color: rgb(163, 149, 158);
}

@media (max-width: 1000px) {
    #global-container {
        width: 100vw;
    }
}

.gallery {
    display: flex;
    height: 40px;
    padding: 10px;
    margin: 0 10px 10px 0;
    border-radius: 300px;
    background-color: #3b75d6;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    font-size: larger;
    -webkit-box-shadow: 2px 5px 15px 1px rgba(0,0,0,0.63); 
    box-shadow: 2px 5px 15px 1px rgba(0,0,0,0.63);
}

.gallery:hover {
    background-color: #f3bb15;
    /* transform: scale(1.01); */
    
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: bisque;
}

.photo-style {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

#photos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#add-gallery-button {
    font-size: 40px;
    width: 38px;
    height: 38px;
    font-weight: 900;
    font-size: 30px;
    background: url("./images/14980.png");
    background-size: cover;
    background-color: #DCA709;
    border-radius: 50%;
    outline: none;
    border: none;
    transition: 0.2s;
}

#gallery-name-input {
    width: 420px;
    height: 52px;
    font-size: 30px;
    color:rgb(56, 56, 56);
    padding: 10px;
    border: none;
    border-radius: 100px;
    user-select: none;
    outline: none;
    margin-right: 10px;
    border: solid 1px lightgray;
}

#gallery-name-input:hover {
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.24);
}

#add-gallery-button:hover {
    background-color: #f3bb15;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.24);
}

#input-container {
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#gallery-name-label {
    padding: 50px 0 10px 0;
    align-self: center;
}

.hidden-gallery-container {
    display: none;
    flex-direction: column;
    width: 600px;
    height: 600px;
    padding: 10px;
    
}

.image-container {
    display: flex;
    margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.inside-image-button {
    display: flex;
    position: absolute;
    justify-self: flex-end;
    margin: 0px 15px 0 0;
    width: 30px;
    height: 30px;
    background: url(./images/pencil2.png);
    background-size: cover;
    border-radius: 10px;
    outline: none;
    border: none;
}

.checkbox {
    width: 15px;
    height: 15px;
    
}

#edit-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#gallery-list-panel {
    display: flex;
    flex-direction: row;
}

.move-menu-element {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
}

.destination-gallery {

}