* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

#preloaded-photos-container {
    display: nflex;
}

#hidden-add-photo-panel {
    display: none;
    z-index: 10;
    position: absolute;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EBEBEB;
}

#global-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 1000px;
    align-items: center;
    background-color: #EBEBEB;
}

#title-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./images/pexels-anni-roenkae-3276032.jpg);
    background-size: cover;
}

#title {
    font-size: 60px;
    color: rgb(219, 219, 219);
    padding: 80px;
    font-family: 'Cinzel', serif;
    text-align: center;
}

#author {
    padding-top: 10px;
    font-size: small;
    font-family: 'Cinzel', serif;
    font-weight: 100;
}

#navbar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.43); 
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.43);
    z-index: 20;
}

.navbar-element {
    padding: 10px 10px 0 10px;
    text-decoration: none;
    color: #ecb202;
    font-family: 'Abel', sans-serif;
    font-size: larger;
}

.navbar-element:hover > .line {
   width: 100%;
}

.line {
    width: 0;
    height: 2px;
    background-color: #dca709;
    transition: 0.2s;
}

#edit-galleries-section {
    display: flex;
    flex-direction: row;
}

#galleries-list-panel {
    display: flex;
    width: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
}

#galleries-list-panel > .gallery {
    margin-right: 10px;
}

#edit-gallery-panel {
    width: 600px;
    height: calc(100vh - 316.2px);
    background-color: white;
    border-radius: 6px;
}

#tools-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    
}

#tools-panel > .tools-panel-button {
    margin-left: 10px;
}

.tools-panel-button {
    width: 80px;
    height: 80px;
    background-color: rgb(108, 94, 103);
    color: white;
    border-radius: 50%;
    outline: none;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
    
}

.tools-panel-button:hover {
    background-color: rgb(163, 149, 158);
}

@media (max-width: 1000px) {
    #global-container {
        width: 100vw;
    }
}

.gallery {
    display: flex;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #3b75d6;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    font-size: larger;
}

.gallery:hover {
    background-color: #f3bb15;
    /* transform: scale(1.01); */
    
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: bisque;
}

.photo-style {
    width: 200px;
    height: auto;
    margin: 2px;
}

.photos-container {
    background-color: darkgoldenrod;
}

#add-gallery-button {
    font-size: 40px;
    width: 38px;
    height: 38px;
    font-weight: 900;
    font-size: 30px;
    background: url("./images/14980.png");
    background-size: cover;
    background-color: #DCA709;
    border-radius: 50%;
    outline: none;
    border: none;
    transition: 0.2s;
}

#gallery-name-input {
    width: 420px;
    height: 52px;
    font-size: 30px;
    color:rgb(56, 56, 56);
    padding: 10px;
    border: none;
    border-radius: 100px;
    user-select: none;
    outline: none;
    margin-right: 10px;
}

#gallery-name-input:hover {
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.24);
}

#add-gallery-button:hover {
    background-color: #f3bb15;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.24);
}

#input-container {
    padding: 60px 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#gallery-name-label {
    padding: 50px 0 10px 0;
    align-self: center;
}

.hidden-gallery-container {
    display: none;
    flex-direction: column;
    width: 600px;
    height: 600px;
    padding: 10px;
    
}

.test {
    
}